.headerDiv{
    overflow: hidden;
    display: flex;
    
}

.adminHeader {
 
    background-color: #e86b1f;
    color: #ffff;
    padding: 30px;
}

.divTitle {
 
    background-color: #00A7E1;
    color: #ffff;
    padding: 30px;
}

.divImg {
    display: flex;
    overflow: hidden;
    justify-content: end;
    background-color: #D5D9DC;
   /* width: 70%;*/
    
}

.imgPrincipal{
    margin-right: 0%;
    display: flex;
    align-items: center

}

.usuario{

    display:inline-flex;
    
    justify-content: end;
    text-align: center;
    margin-bottom: 5%;
 
    
}
.imgUser{
    height: 5%;
    width: 5%;
    
}

.imgUsuar{
    height: 40%;
    
}


.btnUser{
    display: inline-block;
    padding: 0px 20px;
    background-color: #00A7E1;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 10px 3px #999;
    margin-left: 2%;

}
  
.btnUser:hover {
    background-color: #0983ac !important ;
    color: #fff  !important;
}
    
.btnUser:active {
    color: #fff ;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
} 

.btnAdmin{
    display: inline-block;
    padding: 0px 20px;
    background-color: #e86b1f;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    box-shadow: 0 10px 3px #999;
    margin-left: 2%;

}
  
.btnAdmin:hover {
    background-color: #c46124 !important ;
    color: #fff  !important;
}
    
.btnAdmin:active {
    color: #fff ;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
} 