.recuadro{
  align-items: center;
  align-self: center;
  text-align: center;
  background-color: rgb(236, 236, 236);
  margin-top: 10%;
  padding: 3%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 55%;
}

.blank{
  align-items: center;
  align-self: center;
  text-align: center;
}

.imgFoto{
  width: 10%;
  height: 10%;
  float: right;
}

.tittle{
  float:  left;
}
